__pycache__/
*.py[cod]
.snakemake
.claude
src/**/*.pyc

data/interim/
outputs/
config/config.yaml
data/raw/trrust_rawdata.human.tsv
data/raw/hgnc_complete_set.txt
data/raw/trrust_availableinborzoi.tsv
data/raw/targets_human_track.txt
data/raw/GS_50.tsv
